<!-- views/partials/sidebar.ejs -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="/admin/dashboard" class="brand-link text-center">
    <span class="brand-text font-weight-light">Music Player</span>
  </a>

  <div class="user-panel mt-3 pb-3 mb-3 d-flex" style="cursor: pointer">
    <div class="image">
      <img
        src="/img/user1.jpg"
        class="img-circle elevation-2"
        alt="User Image"
      />
    </div>
    <div class="info">
      <a
        href="/admin/profile"
        class="d-block brand-text font-weight-light"
        style="color: aliceblue; font-size: 20px; text-decoration: none"
        ><%= (typeof user !== 'undefined' && user.fullName) ? user.fullName :
        'Admin' %>
      </a>
    </div>
  </div>

  <div class="sidebar">
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
      >
        <li class="nav-item">
          <a
            href="/admin/dashboard"
            class="nav-link <%= activePage === 'dashboard' ? 'active' : '' %>"
          >
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <!-- <li class="nav-item">
          <a
            href="/admin/uploadsong"
            class="nav-link <%= activePage === 'uploadsong' ? 'active' : '' %>"
          >
            <i class="nav-icon fas fa-cloud-upload-alt"></i>
            <p>Upload Song</p>
          </a>
        </li> -->
        <!-- 
        <li class="nav-item">
          <a
            href="/admin/addAlbum"
            class="nav-link <%= activePage === 'addAlbum' ? 'active' : '' %>"
          >
            <i class="nav-icon fas fa-plus-circle"></i>
            <p>Add Album</p>
          </a>
        </li> -->

        <li class="nav-item">
          <a
            href="/admin/mysongs"
            class="nav-link <%= activePage === 'mysongs' ? 'active' : '' %>"
          >
            <i class="nav-icon fas fa-music"></i>
            <p>My Songs</p>
          </a>
        </li>

        <li class="nav-item">
          <a
            href="/admin/myAlbums"
            class="nav-link <%= activePage === 'myAlbums' ? 'active' : '' %>"
          >
            <i class="nav-icon fas fa-compact-disc"></i>
            <p>My Albums</p>
          </a>
        </li>

        <li class="nav-item">
          <a
            href="/admin/myPlaylist"
            class="nav-link <%= activePage === 'myPlaylist' ? 'active' : '' %>"
          >
            <i class="nav-icon fas fa-th-list"></i>
            <p>My Playlist</p>
          </a>
        </li>

        <li class="nav-item">
          <a
            href="/admin/myArtist"
            class="nav-link <%= activePage === 'artist' ? 'active' : '' %>"
          >
            <i class="nav-icon fas fa-palette"></i>
            <p>Artist</p>
          </a>
        </li>

        <li class="nav-item">
          <a
            href="/admin/text-editor"
            class="nav-link <%= activePage === 'text-editor' ? 'active' : '' %>"
          >
            <i class="nav-icon fas fa-edit"></i>
            <p>Text Editor</p>
          </a>
        </li>

        <!-- <li class="nav-item">
          <a href="/api/auth/logout" class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p>Logout</p>
          </a>
        </li> -->

        <li>
          <a class="<%= activePage === '500' ? 'active' : '' %>"> </a>
        </li>
        <li>
          <a class="<%= activePage === '404' ? 'active' : '' %>"> </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
